<div class="header">
  <h4>Corona Virus(Covid-19) status</h4>
</div>
<div class="worldwide">
  <div class="worldwide-item">
    <label class="confirmed">Total Confirmed(Worldwide)</label>
    <h3>{{worldwideDetails?.TotalConfirmed}}</h3>
  </div>
  <div class="worldwide-item">
    <label class="deaths">Total Deaths(Worldwide)</label>
    <h3>{{worldwideDetails?.TotalDeaths}}</h3>
  </div>
  <div class="worldwide-item">
    <label class="recovered">Total Recovered(Worldwide)</label>
    <h3>{{worldwideDetails?.TotalRecovered}}</h3>
  </div>
</div>
<div class="country-selection">
    <label>COUNTRY</label>
    <select
      #countrySelect
    >
      <option value="default" style="display: none;">Select Contry</option>
      <option 
        *ngFor="let country of countryList" 
        value={{country.Slug}}
      >
        {{country.Country}}
      </option>
    </select>
    <button
      (click)="onSelectCountry(countrySelect.value)"
    >
      SEARCH
    </button>
</div>
<div class="date" style="text-align: center;">
  <label style="color: brown;">DATE</label>
  <h2 style="color: darkorchid;">{{selectedCountryDetails?.Date | date}}</h2>
</div>
<div class="country-table">
  <table>
    <tr>
      <th>Country</th>
      <th>Total Confirmed</th>
      <th>Total Recovered</th>
      <th>Total Deaths</th>
    </tr>
    <tr>
      <td>{{selectedCountryDetails?.Country}}</td>
      <td>{{selectedCountryDetails?.Confirmed}}</td>
      <td>{{selectedCountryDetails?.Recovered}}</td>
      <td>{{selectedCountryDetails?.Deaths}}</td>
    </tr>
  </table>
</div>
<div class="bottom"></div>